*{
    margin: 0;
    padding: 0;
}
body{
    border: 2px solid;
    padding: 0;
}
img{
    width: 200px;

}
header{
    background-color: #c6cd3f;
    border: 4px solid;
}
main{
    display: flex;
    background-color: #CD853F;
    padding: 0;
}
footer{
    background-color: #c6cd3f;
    border: 2px solid;
}
section{
    padding: 0;
    margin: 0;
}
li{
    margin: 20px
}